<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="wfgcml.presentation.WfgcmlModelWizardID"
            name="%_UI_WfgcmlModelWizard_label"
            class="wfgcml.presentation.WfgcmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WfgcmlModelFile.gif">
         <description>%_UI_WfgcmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="wfgcml.presentation.WfgcmlEditorID"
            name="%_UI_WfgcmlEditor_label"
            icon="icons/full/obj16/WfgcmlModelFile.gif"
            extensions="wfgcml"
            class="wfgcml.presentation.WfgcmlEditor"
            contributorClass="wfgcml.presentation.WfgcmlActionBarContributor">
      </editor>
   </extension>

</plugin>
